body {
  font-family: 'IM Fell English SC', serif;
}

md-list-item {
  font-family: 'IM Fell English', serif;
}

.details {
  font-family: 'IM Fell English', serif;  
}

md-content {
  padding-left: 10px;
  margin-top: -15px;
}

h1 {
  text-align: center;
}

.character-profile {
  max-height: 50px;
  padding-right: 10px;
}

.campaign-photo {
  max-width: 85%;
}


.currentItem {
  border: 5px double green;
}

p {
  font-family: 'IM Fell English', serif;  
}

.table {
  font-family: 'IM Fell English', serif;    
}

.code {
  font-family: 'Helvetica'; 
}