
<div ng-controller="UserController as uc">
  <md-content class="md-padding" ng-cloak>
    <md-nav-bar
      md-no-ink-bar="disableInkBar"
      md-selected-nav-item="currentNavItem"
      nav-bar-aria-label="navigation links">
  
      <md-nav-item md-nav-href="#/user" name="user home">User Home</md-nav-item>
      <md-nav-item md-nav-href="#/campaign" name="campaign">Campaign Manager</md-nav-item>
      <md-nav-item md-nav-href="#/builder" name="builder">Encounter Builder</md-nav-item>
      <md-nav-item md-nav-href="#/encounter" name="encounter">Encounter Manager</md-nav-item>
      <md-nav-item md-nav-href="#/party" name="party">Party Manager</md-nav-item>      
      <md-nav-item md-nav-href="#/info">Info Page</md-nav-item>
      <!-- <md-nav-item md-nav-href="#/playerhome">Player Portal</md-nav-item> -->
      
      
      
      
      <!-- You can also add options for the <code>ui-sref-opts</code> attribute.
      <md-nav-item md-nav-sref="page6" sref-opts="{reload:true, notify:true}">
        Page Six
      </md-nav-item> -->
     

  </md-content>
</div>