
<div ng-controller="UserController as uc">
  <md-content class="md-padding" ng-cloak>
    <md-nav-bar
      nav-bar-aria-label="navigation links">
    
      <!-- <md-nav-item md-nav-href="#/user" name="user home">User Home</md-nav-item> -->
      <!-- TODO - remove campaign nav item, moving this to menu bar. Possibly add back User nav?? for user profile.Turning this off for now. -->
      <!-- <md-nav-item md-nav-href="#/campaign" name="campaign">Campaign Manager</md-nav-item> -->
      <md-nav-item md-nav-href="#/board/{{vm.selectedCampaignId}}" name="board">Campaign Board</md-nav-item>      
      <md-nav-item md-nav-href="#/builder/{{vm.selectedCampaignId}}" name="builder">Encounter Builder</md-nav-item>
      <md-nav-item md-nav-href="#/encounter/{{vm.selectedCampaignId}}" name="encounter">Encounter Manager</md-nav-item>
      <md-nav-item md-nav-href="#/party/{{vm.selectedCampaignId}}" name="party">Party Manager</md-nav-item>
      <md-nav-item md-nav-href="#/crafting/{{vm.selectedCampaignId}}" name="crafting">Crafting</md-nav-item>          
      <md-nav-item md-nav-href="#/info/{{vm.selectedCampaignId}}">Info Page</md-nav-item>
      <!-- <md-nav-item md-nav-href="#/playerhome">Player Portal</md-nav-item> -->
      
      
      
      
      <!-- You can also add options for the <code>ui-sref-opts</code> attribute.
      <md-nav-item md-nav-sref="page6" sref-opts="{reload:true, notify:true}">
        Page Six
      </md-nav-item> -->
     

  </md-content>
</div>