<div ng-include="'views/partials/nav.html'"></div>


<div class="content" ng-cloak>
    <md-content>
        <h1>Encounter Builder</h1>

        <md-input-container>
            <label>Select Encounter</label>
            <md-select ng-model="vm.selectedEncounter.id">
                <md-option ng-repeat="encounter in vm.encounterArray.list" ng-value="encounter.id">{{encounter.description}}</md-option>
            </md-select>
        </md-input-container>

        <md-button class="md-raised md-primary" ng-click="vm.currentEncounter(vm.selectedEncounter.id)">Edit Selected Encounter</md-button>

        <md-tabs md-dynamic-height md-border-bottom>
            <!-- <md-tab label="Current Encounter"> -->

            <!-- TODO move this div into an Angular Material sidenav or similar - basically fix the formatting of this page so it's less of a mess -->


            <!-- <h3>Current Encounter</h3>
                TODO change this to another get request to pull all data for selected encounter and pull only encounter id/description for radio list
                <md-input-container>
                    <md-radio-group ng-model="vm.selectedEncounter">
                        <div ng-repeat="encounter in vm.encounterArray" class="row">
                            <md-radio-button ng-value="encounter">
                                {{encounter.id}} - {{encounter.description}}
                            </md-radio-button>
                        </div>
                    </md-radio-group>

                    <md-button class="md-raised md-primary" ng-click="vm.currentEncounter(vm.selectedEncounter.id)">Edit Selected Encounter</md-button>
                </md-input-container>
                TODO - call get current list function when npcs are added/edited so this is always current
                <md-list ng-repeat="taco in vm.currentEncounterArray.list">
                    <md-list-item>{{taco.name}}</md-list-item>
                </md-list>

                TODO - add this button to each tab?? (toggles side bar with current encounter info)
                <md-button ng-click="toggleLeft()" class="md-primary">
                    Toggle left
                </md-button>
            </md-tab>  -->

            <md-tab label="Current Encounter">
                <md-content>

                    <h3> Encounter name:</h3>
                    <p>{{vm.currentEncounterArray.list[0].description}}</p>
                    <h3> Encounter notes:</h3>
                    <p> {{vm.currentEncounterArray.list[0].notes}} </p>
                    <h3> NPCs:</h3>
                    <md-list layout-padding ng-repeat="taco in vm.currentEncounterArray.list">
                        <md-list-item>{{taco.name}}</md-list-item>
                    </md-list>

                </md-content>
            </md-tab>

            <!-- Create New Encounter tab TODO - add notes to new encounter request/database-->
            <md-tab label="Create Encounter">
                <div class="newEncounter">
                    <h3>Create New Encounter</h3>
                    <md-inline-form>
                        <md-input-container>
                            <input type="text" ng-model="vm.newEncounterObject.description" placeholder="Encounter Name">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Notes</label>
                            <textarea ng-model="vm.newEncounterObject.notes" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                        </md-input-container>
                        <md-button class="md-primary md-raised" ng-click="vm.newEncounter(vm.newEncounterObject)">Create New Encounter</md-button>
                    </md-inline-form>
                </div>
            </md-tab>

            <md-tab label="Random Encounter">
                <h1>Coming Soon: Generate Random Encounter!</h1>
            </md-tab>

            <md-tab label="Add NPCs">
                <!-- search and add monsters in this div -->
                <h3>Add NPCs</h3>
                <div class="md-inline-form">
                    <!-- Eventually put show/hide on the divs on this page, or somehow spit out the view so not all options are visible at one time -->
                    <md-input-container>
                        <input type="text" placeholder="Monster Name" ng-model="vm.searchName.searchTerm">
                    </md-input-container>

                    <md-button class="md-raised md-primary" ng-click="vm.searchMonster(vm.searchName)">Search</md-button>
                    <table class="table table-striped">
                        <thead>
                            <th>Name</th>
                            <th>CR</th>
                            <th>Size</th>
                            <th>Type</th>
                            <th>Hit Points</th>
                            <th>Add</th>
                        </thead>
                        <tbody ng-repeat="monster in vm.monsterArray.list">
                            <td>{{monster.name}}</td>
                            <td>{{monster.challengerating}}</td>
                            <td>{{monster.size}}</td>
                            <td>{{monster.type}}</td>
                            <td>{{monster.hit_points}}</td>
                            <td>
                                <md-button class="md-raised md-primary" ng-click="vm.addToEncounter(monster.id, vm.selectedEncounter.id)">Add to Encounter</md-button>
                            </td>
                        </tbody>
                    </table>
                </div>
            </md-tab>

            <md-tab label="Add Encounter Loot">
                <h3>Search Loot</h3>

            </md-tab>
        </md-tabs>

    </md-content>

</div>