<!-- <div ng-include="'views/partials/nav.html'"></div> -->
<div class="container" ng-cloak>

    <md-content ng-cloak>

        <h1 id="welcome" class="lead">Welcome, {{vm.userObject.userName}}. Start your Adventure!</h1>

        <md-list layout="column" ng-repeat="campaign in vm.campaignArray.list">
            <md-list-item class="md-3-line" ng-click="null">
                <p>{{campaign.title}}</p>
                <span>
                    <md-button class="md-raised md-primary">Invite</md-button>
                    <md-button class="md-raised md-primary" ng-href="#/board/{{campaign.id}}" name="user home" ng-click="vm.setSelectedCampaign(campaign.id)">Enter</md-button>
                </span>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>

        <md-input layout="column" layout-align="center center">
            <md-button class="md-raised md-primary" ng-click="vm.addCampaignDialog($event)">Create Campaign</md-button>
        </md-input>

    </md-content>
</div>

<!-- Note TODO - this will eventually be moved to the home/user login screen in all likelyhood. Placing in its own view for now to keep things separate -->