<div ng-include="'views/partials/nav.html'"></div>

<md-content ng-cloak>

    <h1>Encounter</h1>
    <md-input-container>
        <md-select ng-model="vm.currentEncounter">
            <md-option ng-repeat="encounter in vm.encounterArray" ng-value="vm.encounter.id">
                {{encounter.id}} - {{encounter.description}}
            </md-option>
        </md-select>
        <md-button ng-click="vm.currentEncounter()">
            Start Encounter
        </md-button>
    </md-input-container>


</md-content>