<div ng-include="'views/partials/nav.html'"></div>


<md-content>
    <h1>Party</h1>
    <md-tabs>

        <!-- All party tab -->
        <md-tab label="party">
            <md-list ng-repeat="character in vm.partyArray.list">
                <md-list-item>
                    {{character.name}} {{character.level}} {{character.class}}
                </md-list-item>
            </md-list>
        </md-tab>
        <!-- Add new Character -->
        <md-tab label="Add Character">

            <div layout="column" ng-cloak class="md-inline-form" layout-padding>

                <md-subhead layout-gt-sm="row">Character Details</md-subhead>

                <md-content layout-gt-sm="row" layout-padding>
                    <div>
                        <md-input-container>
                            <label>Player Name</label>
                            <input ng-model="character.player_name">
                        </md-input-container>

                        <md-input-container>
                            <label>Character Name</label>
                            <input ng-model="character.name" type="text">
                        </md-input-container>
                    </div>


                    <div layout-gt-xs="row">
                        <md-input-container flex-gt-xs>
                            <label>Level</label>
                            <input ng-model="character.level" type="number">
                        </md-input-container>

                    <md-input-container>
                        <label>Class</label>
                        <md-select ng-model="character.class_id">
                            <md-option ng-repeat="class in vm.classArray.list" ng-value="class.id">{{class.name}}</md-option>
                        </md-select>
                    </md-input-container>


                    <md-input-container>
                            <label>Race</label>
                            <md-select ng-model="character.race_id">
                                <md-option ng-repeat="race in vm.raceArray.list" ng-value="race.id">{{race.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    
                    <md-content>
                    <md-subhead>Stats</md-subhead>
                        <div>
                            
                        </div>
                    </md-content>
                    

                    <md-button>Add Character</md-button>
                </md-content>

            </div>

        </md-tab>
    </md-tabs>
</md-content>